.all {
	background-color: #F8F7FF;
	
}
.container {
    border: 1px solid #dedede;
    background-color: #E2FDFF;
	  box-shadow: 5px 5px 3px grey;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-right: 50px;
    width: auto;
}
  .darker {
    margin-left: 80px;
    margin-right: 10px;
    border-color: #ccc;
    background-color: #BFD7FF;
	  box-shadow: 5px 5px 3px black;
}
  
  .container::after {
    content: "";
    clear: both;
    display: table;
}
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
 .right {
    float: right;
    margin-left: 20px;
    margin-right:0;
    font-family: "Courier New", Courier, monospace;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }
 
